<div id="<%= dom_id user_list %>">
  <p>
    <strong>First name:</strong>
    <%= user_list.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_list.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_list.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user_list.phone %>
  </p>

  <p>
    <strong>Insta:</strong>
    <%= user_list.insta_id %>
  </p>

</div>
