
<div class="h-100 p-5 bg-light border rounded-3">
          <h2>
          <%= @user_list.first_name %>
          <%= @user_list.last_name %>
          </h2>
          <p>
            <%= @user_list.email %> |
            <%= @user_list.phone %> |
            <%= @user_list.insta_id %> 
          </p>
          <br/><br/>
         <%= link_to "Edit", edit_user_list_path(@user_list), class:"btn btn-secondary" %> 
         <%= link_to "Back", user_lists_path, class:"btn btn-dark" %>
</div>
