<p style="color: green"><%= notice %></p>

<%= render @user_list %>

<div>
  <%= link_to "Edit this user", edit_user_list_path(@user_list) %> |
  <%= link_to "Back to user lists", user_lists_path %>

  <%= button_to "Destroy this user list", @user_list, method: :delete %>
</div>
